{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="container">
      <div class="row w-100">
        <div
          class="col d-flex justify-content-center align-items-center w-100 header"
          
        >
          <div>
            <p class="gradient-text">CUTTING EDGE TECHNOLOGY</p>
            <h1 class="gradient-text header-text ">
              Software & Cloud <br />
              Solutions for <br />the Future
            </h1>
            <div style="min-height: 25px"></div>
            <div>
              <a href="#services" type="button" class="btn btn-dark text-center p-3">
                Need a Service?
              </a>
              {% comment %} <button type="button" class="btn btn-dark text-center p-3">
                Learn More
              </button> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container" id="services" >
      <div class="divider border-bottom" > </div>
      <h2 class="fw-bold text-center" >What Taqaddum can do </h2>
        <div class="row mt-4" >
            <div class="col-12  col-md-6 col-xl-4 my-2">
                <div class="card card-hover" style="" >
                    <div class="d-flex justify-content-center p-3 border-bottom bg-img m-0 p-0" >
                        <img src="{% static 'images/education.png' %}" class=" card-img-top img-h " alt="...">
                    </div>
                    <div class="card-body bg-light bg-hover p-4 d-flex flex-column" style="height:20rem">
                        <p class="fs-4" > Educational Software for Universities & Schools  </p>
                        <p class="card-text"> Highly scalable educational software for universities & schools, includes a student portal module, staff portal module, admin portal module, grades, attendance taking, fee record tracking, and more!  </p>
                        {% comment %} <p class="card-text"> *Note: prices may be above or below estimate depending on maintainance cost and other factors. </p> {% endcomment %}
                        <a class="btn btn-dark btn-pos d-block " href="{% url 'contact' 1 %}" >
                            Apply Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12  col-md-6 col-xl-4 my-2">
                <div class="card card-hover" style="" >
                    <div class="d-flex justify-content-center p-3 border-bottom bg-img m-0 p-0" >
                        <img src="{% static 'images/profit.png' %}" class=" card-img-top img-h " alt="...">
                    </div>
                    <div class="card-body bg-light bg-hover p-4 d-flex flex-column" style="height:20rem">
                        <p class="fs-4" > Informational or Small Business Website </p>
                        <p class="card-text"> Non-commercial wesbites, such as static pages, proof of concepts, MVPs, personal websites, and more. </p>
                        <a class="btn btn-dark btn-pos d-block " href="{% url 'contact' 2 %}" >
                            Apply Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12  col-md-6 col-xl-4 my-2">
                <div class="card card-hover" style="" >
                    <div class="d-flex justify-content-center p-3 border-bottom bg-img m-0 p-0" >
                        <img src="{% static 'images/enterprise.png' %}" class=" card-img-top img-h " alt="...">
                    </div>
                    <div class="card-body bg-light bg-hover p-4 d-flex flex-column" style="height:20rem" >
                        <p class="fs-4" > Enterprise Applications </p>
                        <p class="card-text"> Enterprise software like hotel management systems, resturant chain management system, and more. </p>
                        <a class="btn btn-dark btn-pos d-block " href="{% url 'contact' 3 %}" >
                            Apply Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12  col-md-6 col-xl-4 my-2">
                <div class="card card-hover" style="" >
                    <div class="d-flex justify-content-center p-3 border-bottom bg-img m-0 p-0" >
                        <img src="{% static 'images/shop.png' %}" class=" card-img-top img-h " alt="...">
                    </div>
                    <div class="card-body bg-light bg-hover p-4 d-flex flex-column" style="height:20rem" >
                        <p class="fs-4" > Ecommerce Website </p>
                        <p class="card-text"> commercial wesbites, such as dynamic pages, online stores </p>
                        <a class="btn btn-dark btn-pos d-block " href="{% url 'contact' 3 %}" >
                            Apply Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12  col-md-6 col-xl-4 my-2">
                <div class="card card-hover" style="" >
                    <div class="d-flex justify-content-center p-3 border-bottom bg-img m-0 p-0" >
                        <img src="{% static 'images/smartphone.png' %}" class=" card-img-top img-h " alt="...">
                    </div>
                    <div class="card-body bg-light bg-hover p-4 d-flex flex-column" style="height:20rem">
                        <p class="fs-4" > Mobile Applications </p>
                        <p class="card-text"> commercial wesbites, such as dynamic pages, online stores </p>
                        <a class="btn btn-dark btn-pos d-block " href="{% url 'contact' 4 %}" >
                            Apply Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12  col-md-6 col-xl-4 my-2">
                <div class="card card-hover" style="" >
                    <div class="d-flex justify-content-center p-3 border-bottom bg-img m-0 p-0" >
                        <img src="{% static 'images/other.png' %}" class=" card-img-top img-h " alt="...">
                    </div>
                    <div class="card-body bg-light bg-hover p-4 d-flex flex-column" style="height:20rem">
                        <p class="fs-4" > Other </p>
                        <p class="card-text"> If what you're looking for is not listed, contact us with the project details. </p>
                        <a class="btn btn-dark btn-pos d-block " href="{% url 'contact' 4 %}" >
                            Apply Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %} <div style="height: 50px"></div>
    <section class="container p-4">
      <div class="row">
        <div class="col-12 col-xl-5">
          <p>WHAT WE DO</p>
          <h1 class="gradient-text">Web Applications</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            auctor tristique aliquam. Fusce laoreet augue enim, a venenatis
            libero finibus sed. Nam nulla tellus, fermentum quis orci vitae,
            tincidunt finibus dui. Cras risus urna, maximus vitae sem eget,
            luctus ornare ligula. Vestibulum tempus at sem id sodales.
            Suspendisse potenti. In mollis nisi quis nibh pretium, at volutpat
            sem sagittis. Aenean nisi dui, malesuada molestie scelerisque a,
            vestibulum eget tortor. Quisque pulvinar semper ornare. Curabitur id
            nibh rutrum, tempus quam nec, gravida ligula. Suspendisse faucibus
            est vel lacus ullamcorper sollicitudin. Mauris risus risus,
            malesuada vitae tempus sit amet, volutpat nec enim. Nunc hendrerit
            vel ante eu fringilla. Donec quam ex, porttitor blandit pellentesque
            a, consequat at lacus. Nulla molestie libero et posuere tincidunt.
            Fusce porta elit neque, vitae aliquet lacus posuere sed.
          </p>
        </div>
        <div class="col-12 col-xl-7">
          <img src="{% static 'images/laptop2.jpg' %}" class="br responsive-img" />
        </div>
      </div>
    </section> {% endcomment %}
    {% comment %} <div style="height: 70px"></div>
    <section class="container p-4">
      <div class="row d-flex flex-row flex-md-row-reverse">
        <div class="col-12 col-xl-5">
          <h1 class="gradient-text">Mobile Applications</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            auctor tristique aliquam. Fusce laoreet augue enim, a venenatis
            libero finibus sed. Nam nulla tellus, fermentum quis orci vitae,
            tincidunt finibus dui. Cras risus urna, maximus vitae sem eget,
            luctus ornare ligula. Vestibulum tempus at sem id sodales.
            Suspendisse potenti. In mollis nisi quis nibh pretium, at volutpat
            sem sagittis. Aenean nisi dui, malesuada molestie scelerisque a,
            vestibulum eget tortor. Quisque pulvinar semper ornare. Curabitur id
            nibh rutrum, tempus quam nec, gravida ligula. Suspendisse faucibus
            est vel lacus ullamcorper sollicitudin. Mauris risus risus,
            malesuada vitae tempus sit amet, volutpat nec enim. Nunc hendrerit
            vel ante eu fringilla. Donec quam ex, porttitor blandit pellentesque
            a, consequat at lacus. Nulla molestie libero et posuere tincidunt.
            Fusce porta elit neque, vitae aliquet lacus posuere sed.
          </p>
        </div>
        <div class="col-12 col-xl-7">
          <img src=" {% static 'images/mobile.jpg' %}" class="br responsive-img" />
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <div style="height: 50px"></div>
    <section class="container p-4">
      <div class="row">
        <div class="col-12 col-xl-5">
          <h1 class="gradient-text">Desktop Applications</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            auctor tristique aliquam. Fusce laoreet augue enim, a venenatis
            libero finibus sed. Nam nulla tellus, fermentum quis orci vitae,
            tincidunt finibus dui. Cras risus urna, maximus vitae sem eget,
            luctus ornare ligula. Vestibulum tempus at sem id sodales.
            Suspendisse potenti. In mollis nisi quis nibh pretium, at volutpat
            sem sagittis. Aenean nisi dui, malesuada molestie scelerisque a,
            vestibulum eget tortor. Quisque pulvinar semper ornare. Curabitur id
            nibh rutrum, tempus quam nec, gravida ligula. Suspendisse faucibus
            est vel lacus ullamcorper sollicitudin. Mauris risus risus,
            malesuada vitae tempus sit amet, volutpat nec enim. Nunc hendrerit
            vel ante eu fringilla. Donec quam ex, porttitor blandit pellentesque
            a, consequat at lacus. Nulla molestie libero et posuere tincidunt.
            Fusce porta elit neque, vitae aliquet lacus posuere sed.
          </p>
        </div>
        <div class="col-12 col-xl-7">
          <img src="{% static 'images/laptop2.jpg' %}" class="br responsive-img" />
        </div>
      </div>
    </section> {% endcomment %}
    <div style="height: 50px"></div>
    <section class="container-fluid text-white p-4" style="background-color: #181919">
      <div class="row">
        <div class="col-12 col-xl-5">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            auctor tristique aliquam. Fusce laoreet augue enim, a venenatis
            libero finibus sed. Nam nulla tellus, fermentum quis orci vitae,
            tincidunt finibus dui. Cras risus urna, maximus vitae sem eget,
            luctus ornare ligula. Vestibulum tempus at sem id sodales.
            Suspendisse potenti. In mollis nisi quis nibh pretium, at volutpat
            sem sagittis. Aenean nisi dui, malesuada molestie scelerisque a,
            vestibulum eget tortor. Quisque pulvinar semper ornare. Curabitur id
            nibh rutrum, tempus quam nec, gravida ligula. Suspendisse faucibus
            est vel lacus ullamcorper sollicitudin. Mauris risus risus,
            malesuada vitae tempus sit amet, volutpat nec enim. Nunc hendrerit
            vel ante eu fringilla. Donec quam ex, porttitor blandit pellentesque
            a, consequat at lacus. Nulla molestie libero et posuere tincidunt.
            Fusce porta elit neque, vitae aliquet lacus posuere sed.
          </p>
        </div>
        <div class="col-12 col-xl-7">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Check me out</label
              >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock content %}

